.post{
    width: 1000px;
    height: 300px;
    background-color: white;
    border: 2px solid aliceblue;
    border-radius: 20px;
}

.likebutton{
    background-color: red;
    border: none;
    border-radius: 20px;
}